<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.png" height="35" width="55" alt="logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/catalog">Catalog</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Menu
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/about">About</a></li>
              <li><a class="dropdown-item" href="/contact">Contact</a></li>
              <li><a class="dropdown-item" href="/blogs">Blogs</a></li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
            <a href="#" class="text-dark m-2">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#" class="text-dark m-2">
                <i class="fa-brands fa-linkedin"></i>
              </a>
              <a href="#" class="text-dark m-2">
                <i class="fa-brands fa-square-twitter"></i>
              </a>
              <% if(!loggedIn){ %>
              <a href="/login" class="text-dark m-2">
                <i class="fa-solid fa-right-to-bracket"></i>
              </a>
              <% } %>
              <% if(loggedIn){ %>
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-regular fa-user"></i>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item" href="/create">New Post</a></li>
                    <li><a class="dropdown-item" href="/logout">Logout</a></li>
                  </ul>
                </div>
              <% } %>
              <!-- shopping bag -->
            <div class="ec-cart-widget"></div>
            <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-12-28" charset="utf-8"></script>
            <script type="text/javascript">Ecwid.init();</script>
            </div>
            <!-- search bar -->
            <div id="my-search-49063210"></div>
            <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-12-28" charset="utf-8"></script>
            <script type="text/javascript"> xSearch("id=my-search-49063210"); </script>
            </div>
        </div>
      </div>
    </div>
  </nav>
