<div class="row mt-5">
    <div class="col-md-4 p-3">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" class="img-fluid" alt="blog">
    </div>
    <div class="col-md-8 p-3">
        <h3>Blog Title</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, distinctio possimus! Aut modi voluptas voluptates aliquid magni accusantium hic explicabo. Sunt repellendus consequatur mollitia saepe nihil quibusdam repellat libero eveniet. . . .
        </p>
        <small>Posted On July 12, 2021</small>
    </div>
    <hr>
    <div class="col-md-4 p-3">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" class="img-fluid" alt="blog">
    </div>
    <div class="col-md-8 p-3">
        <h3>Blog Title</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, distinctio possimus! Aut modi voluptas voluptates aliquid magni accusantium hic explicabo. Sunt repellendus consequatur mollitia saepe nihil quibusdam repellat libero eveniet. . . .
        </p>
        <small>Posted On July 12, 2021</small>
    </div>
    <hr>
    <div class="col-md-4 p-3">
        <img src="https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_960_720.jpg" class="img-fluid" alt="blog">
    </div>
    <div class="col-md-8 p-3">
        <h3>Blog Title</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, distinctio possimus! Aut modi voluptas voluptates aliquid magni accusantium hic explicabo. Sunt repellendus consequatur mollitia saepe nihil quibusdam repellat libero eveniet. . . .
        </p>
        <small>Posted On July 12, 2021</small>
    </div>
</div>