<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/8791fcf073.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="/img/logo.png" height="35" width="55" alt="logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="index.html">Home</a>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="catalog.html">Catalog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="about.html">About</a></li>
                  <li><a class="dropdown-item" href="contact.html">Contact</a></li>
                  <li><a class="dropdown-item" href="#">Support</a></li>
                </ul>
              </li>
            </ul>
            <div class="d-flex">
                <a href="#" class="text-dark m-2">
                    <i class="fa-brands fa-facebook"></i>
                  </a>
                  <a href="#" class="text-dark m-2">
                    <i class="fa-brands fa-linkedin"></i>
                  </a>
                  <a href="#" class="text-dark m-2">
                    <i class="fa-brands fa-square-twitter"></i>
                  </a>
                  <a href="#" class="text-dark m-2">
                    <i class="fa-solid fa-cart-shopping"></i>
                  </a>
                <div class="ec-cart-widget"></div>
                <div>
                <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-12-28" charset="utf-8"></script>
                <script type="text/javascript">Ecwid.init();</script>
                </div>
                <div id="my-search-49063210"></div>
                <div>
                <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-12-28" charset="utf-8"></script>
                <script type="text/javascript"> xSearch("id=my-search-49063210"); </script>
                </div>
            </div>
          </div>
        </div>
      </nav>
      

<!-- shopping integration link -->
<div class="container my-5 py-5">
    <h1 class="display-3 fw-bold">Welcome!!!</h1>
    <h2 class="mb-3">Welcome To Our Store!!!!</h2>
              
    <div class="row justify-content-center align-items-center text-center">
        <div class="col-md-12 p-2">
            <div id="my-store-49063210"></div>
            <div>
            <script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?49063210&data_platform=code&data_date=2022-12-28" charset="utf-8"></script><script type="text/javascript"> xProductBrowser("categoriesPerRow=3","views=grid(20,3) list(60) table(60)","categoryView=grid","searchView=list","id=my-store-49063210");</script>
            </div>
        </div>
    </div>
</div>

<footer class="bg-light text-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-2">
                <h3>Company
                    <img src="/img/logo.png" height="35" width="40" alt="logo">
                </h3>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero earum quia nam suscipit quae nesciunt nulla. Fuga deserunt possimus commodi et dolor, illum dolorem, ab rem nihil, quod soluta corrupti!
                </p>
            </div>
            <div class="col-md-3 p-2 text-center">
                <h4>Links</h4>
                <a href="index.html" class="text-dark nav-link">home</a>
                <a href="about.html" class="text-dark nav-link">about</a>
                <a href="contact.html" class="text-dark nav-link">contact</a>
            </div>
            <div class="col-md-3 p-2 text-center">
                <h4>Links</h4>
                <a href="catalog.html" class="text-dark nav-link">catalog</a>
                <a href="#" class="text-dark nav-link">facebook</a>
                <a href="#" class="text-dark nav-link">linked</a>
            </div>
        </div>
    </div>
  </footer>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</body>
</html>