<!doctype html>
<html lang="en">
  <%- include('layouts/header') -%>
  <body>
    <%- include('layouts/navBar') -%>

      <main>
          <div class="container my-5 py-5">
              <h1 class="text-center fw-bold display-3 mb-3">Express Reviews</h1>
              
          </div>
      </main>

    <%- include('layouts/footer') -%>

    <%- include('layouts/scripts') -%>
  </body>
</html>